# It's the simple things... 

This blog will examine a few common things I do consistently in R. 

I'll likely update this periodically... so it is what it is. 

A short list of a few starter topics: 

[Aggregation](#topic1)

<a id='topic1'></a>

# Aggregation

Lets make a very simple data frame to keep things clear. This will give us four rows, three with data and one with missing data.

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                  [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])

In [10]:
df.head()

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [20]:
df.agg(['min', 'max', 'sum', 'mean', 'std', 'var'])

         A     B     C
min    1.0   2.0   3.0
max    7.0   8.0   9.0
sum   12.0  15.0  18.0
mean   4.0   5.0   6.0
std    3.0   3.0   3.0
var    9.0   9.0   9.0