# It's the simple things... 

This blog will examine a few common things I do consistently in R. 

I'll likely update this periodically... so it is what it is. 

A short list of a few starter topics: 

[Aggregation](#topic1)

<a id='topic1'></a>

# Aggregation

Lets make a very simple data frame to keep things clear. This will give us four rows, three with data and one with missing data.

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                  [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])

In [10]:
df.head()

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [20]:
df.agg(['min', 'max', 'sum', 'mean', 'std', 'var'])

         A     B     C
min    1.0   2.0   3.0
max    7.0   8.0   9.0
sum   12.0  15.0  18.0
mean   4.0   5.0   6.0
std    3.0   3.0   3.0
var    9.0   9.0   9.0

In [32]:
arr = [-4, 3, -9, 0, 4, 1]

In [33]:
len(arr)

6

In [38]:
def frac(arr):
    pos = 0
    neg = 0
    zer = 0
    for i in arr:
        if i > 0:
            pos += 1
        elif i < 0:
            neg += 1
        else: 
            zer += 1
    result=float(pos)/float(len(arr))
    num=float(neg)/float(len(arr))
    count=float(zer)/float(len(arr))
    print("%.6f" % result)
    print("%.6f" % num)
    print("%.6f" % count)

In [39]:
frac(arr)

0.500000
0.333333
0.166667

Staircase problem 
    #
   ##
  ###
 ####

In [42]:
def staircase(n):
    [print(' '*(n-i) + '#'*i) for i in range(1, n+1)]

In [43]:
staircase(3)

  #
 ##
###

Mini-Max Sum

In [44]:
arr = [1, 2, 3, 4, 5]

In [45]:
print(min(arr))

1

In [48]:
total = sum(arr)-min(arr)
print(total)

14

In [54]:
def miniMaxSum(arr):
    h_tot = sum(arr)-min(arr)
    l_tot = sum(arr)-max(arr)
    print(h_tot, l_tot)
    #print(h_tot + ' ' + l_tot)

In [55]:
miniMaxSum(arr)

14 10

Birthday Cake Candle Blow Out

In [63]:
def birthdayCakeCandles(ar):
    return(list1.count(max(list1)))

In [61]:
list1 = [3, 2, 3, 3]

12 to 24 hour

In [102]:
def convert24(s):
    if s[-2:] == "AM" and s[:2] == "12":
        return "00" + s[2:-2]
    elif s[-2:] == "AM":
        return s[:-2]
    elif s[-2:] == "PM" and s[:2] == "12":
        return s[:-2]
    else: 
        return str(int(s[:2]) + 12) + s[2:8]

In [99]:
s = "07:05:45PM"

In [88]:
str[-2:]

'PM'

In [89]:
str[:2]

'07'

In [90]:
str[2:-2]

':05:45'

In [91]:
str[:-2]

'07:05:45'

In [92]:
str[2:8]

':05:45'

In [93]:
str[1]

'7'

Hour Glass

In [186]:
arr =  [[1, 1, 1, 0, 0, 0],
        [0 ,1, 0, 0, 0, 0],
        [1, 1, 1, 0, 0, 0],
        [0, 0, 2, 4, 4, 0],
        [0, 0, 0, 2, 0, 0],
        [0, 0, 1, 2, 4, 0]]

In [189]:
def hourglassSum(arr) :
  return(max([sum(arr[i-1][j-1:j+2] + [arr[i][j]] + arr[i+1][j-1:j+2]) for j in range(1, 5) for i in range(1, 5)]))